@model Wayfarer.Mvc.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.PasswordFor(m => m.NewPassword, new {@class="form-control", placeholder = "New Password" })
    <br />
    @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control", placeholder = "Confirm Password" })
    <br />
    <input type="submit" class="btn btn-primary" value="Set password" />
}
