@{
    ViewBag.Title = "Login Failure";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>@ViewBag.Title</h1>
        <h2>Unsuccessful login with service.</h2>
    </div>
</div>
